# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Publicação automática

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Sincronizando com o Github
      uses: actions/checkout@v3
    - name: Publicando
      uses: SamKirkland/web-deploy@v1
      with:
        target-server: 152.67.48.52
        remote-user: ubuntu
        private-ssh-key: ${{ secrets.key }}
        destination-path: /home/ubuntu/projeto-produto/
    - name: Aplicando as mudanças
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: 152.67.48.52
        username: ubuntu
        key: ${{ secrets.key }}
        port: 22
        #server é nome da nossa aplicação no PM2
        script: pm2 restart server
